/* https://discord.com/channels/1015060230222131221/1028106818368589824/1367258119935099021*/
@import url("https://raw.githubusercontent.com/sadan4/discordStyles/refs/heads/main/src/qol/folderScrollBar.css");

/*https://discord.com/channels/1015060230222131221/1028106818368589824/1354502862390038528*/
@import url("https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css");

:root {
    /* Only include this part if you wish to change these variables */
    /* You can change the size but only to be less than 48px, you must change the blob scale too */
    --guildbar-avatar-size: 48px;
    --blob-scale: 48;

    --guildbar-folder-size: var(--guildbar-avatar-size);
    --folder-blob-scale: var(--blob-scale);
    --badges-background: var(--redesign-button-overlay-alpha-background); /*adds a semi transparent background behind badges*/

    --custom-guild-list-padding: 12px;
    --custom-guild-list-width: calc(max(var(--guildbar-avatar-size), var(--guildbar-folder-size)) + var(--custom-guild-list-padding) * 2);

    --user-area-padding: 4px
}


/* profile bar over servers fix*/
.visual-refresh {

[class*="panels_"][aria-label="User area"]
{       
    left: calc(var(--custom-guild-list-width) + var(--user-area-padding));
    width: calc(100% - (var(--custom-guild-list-width) + var(--user-area-padding) * 2));

    /*less space in between panel buttons*/
    [class*="buttons"] 
    {
        gap: 1px;
    }
}
[class*="wrapper_"][aria-label="Servers sidebar"]
{
    margin-bottom: 0px;
}
}


/*chat and member list fixes*/
.visual-refresh {

/*little more spaced out member list*/
[class*="membersWrap_"] > [class*="members"] > [class*="membersGroup_"]
{
    padding-bottom: 5px;
}

[class*="button_"][aria-label="Send a gift"]
{
    display: none;
}
[class*="app-launcher"]
{
    display: none;  
}
[class*="buttons_"] > [class*="buttonContainer"] > [class*="button_"]
{
    transform: scale(1.25) !important;
}
[class*="spriteContainer_"]
{
   transform: scale(1.1) !important;
}
[class*="channelTextArea_"] > [class*="scrollableContainer_"] > [class*="inner_"] > [class*="buttons_"]
{
    gap: 4px;
}
}

/* top bar fix*/
.visual-refresh {
    --vr-header-snippet-space: 180px;
    --win-button-size: 30px;
    --top-bar-size: 15px;
    --custom-inbox-multiplier: 1.2;

    /* drag area fix*/
    [class*="bar_"][class*="theme-dark"]
    {
        min-height: var(--top-bar-size);

        /*hide title*/ 
        [class^="title_"]
        {
            display: none;
        }
    }

    /*remove help button*/
    [class*="button_"][aria-label="Help"]
    {
        display: none;
    }

    /*inbox button scaling*/
    [class*="clickable_"][aria-label="Inbox"]
    {
 
        svg {
            width: calc(var(--top-bar-size) * var(--custom-inbox-multiplier)) !important;
            height: calc(var(--top-bar-size) * var(--custom-inbox-multiplier)) !important;
        }
        [class*="badge_"]
        {
            width: calc(var(--top-bar-size) / 3);
            height: calc(var(--top-bar-size) / 3);
        }

        padding-top: 5px;
        height: calc(var(--top-bar-size) * var(--custom-inbox-multiplier));
    }

    /* set  size  of win buttons*/
    [class^="winButtons_"]
    {
        height: var(--win-button-size);
        width: var(--win-button-size);
    }
    /*set bar size*/
    [class^="base_"][data-fullscreen$="false"]
    {
        grid-template-rows: [top] 0 [titleBarEnd] var(--top-bar-size) [noticeEnd] 1fr [end];
    }
    /*offset serverlist*/
    ul[data-list-id="guildsnav"] > [class^="itemsContainer_"] > [class^="stack"] {
        margin-top: var(--top-bar-size);
    }
}

/* https://discord.com/channels/1015060230222131221/1028106818368589824/1367926149497225287 */
#vc-spotify-player {
    --blur-amount: 4px; 
    --normal-bg-colour: var(--bg-overlay-floating, var(--background-base-low, var(--background-secondary-alt)));

    position: relative;
    background: linear-gradient(to bottom, transparent 0%, var(--normal-bg-colour) 100%) !important;
    overflow: hidden;
    transition: all 0.4s ease-out;
    > * {
      filter: drop-shadow(0 0 10px var(--normal-bg-colour));
    }
}
#vc-spotify-player:hover {
    --blur-amount: 0px;
}
#vc-spotify-player::before,
#vc-spotify-player::after {
    z-index: -1;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.4s ease-out;
}
#vc-spotify-player::before {
    background: var(--vc-spotify-track-image);
    background-position: center top; 
    background-size: cover; 
    opacity: 0.5;
}
#vc-spotify-player:hover::before {
    opacity: 0.7;
}
#vc-spotify-player::after {
    backdrop-filter: blur(var(--blur-amount));
}
#vc-spotify-progress-bar > [class^="slider_"] > [class^="bar_"] > [class^="barFill_"] {
    background-color: white !important;
    background: var(--vc-spotify-track-image);
    background-size: 1px 100%;
}
#vc-spotify-progress-bar > [class^="slider_"] > [class^="bar_"] > [class^="barFill_"]::before {
    content: "";
    position: fixed;
    height: inherit;
    width: inherit;
    top: inherit;
    left: inherit;
    border-radius: 4px 0 0 4px;
    backdrop-filter: blur(10px) saturate(4) brightness(1.6);
}

/*https://discord.com/channels/1015060230222131221/1028106818368589824/1352215311369375845*/
.content_a2f514 {
    display: flex;
    flex-direction: column;
    > .spinner_a2f514 { display: none }
    &:before {
        display: block;
        height: 128px;
        position: relative;
        content: url("https://cdn.discordapp.com/emojis/1373120209459740692.webp?size=96&animated=true");
        image-rendering: pixelated;
         align-content: center;
         scale: 3.125;
         margin-bottom: 96px;
    }
}

/*https://discord.com/channels/1015060230222131221/1028106818368589824/1420603427246833775*/
/* Sidebar cat */
.user-profile-sidebar::after {
    /* DIscord's color setup */
    --profile-gradient-start:  color-mix(in oklab, var(--profile-gradient-overlay-color) 100%, var(--profile-gradient-primary-color));
    --profile-gradient-end:  color-mix(in oklab, var(--profile-gradient-overlay-color) 100%, var(--profile-gradient-secondary-color));
	/* The creatures 2 */
    content:
    "      へ              ╱|、\a"
            "૮ >  < )   ♡    (˚ˎ 。7\a"
            " /        づ          |、 ˜〵\a"
            "乀(ˍ, ل ل              じしˍ, )ノ";

    white-space: pre;
    inset: 0;
    padding: 20px;
    color: white;
    /* Also discords */
    background: linear-gradient(var(--profile-gradient-start), var(--profile-gradient-start) var(--custom-user-profile-banner-height), var(--profile-gradient-end));
    text-align: center;
    font-size: 150%;
}
/* End sidebar cat */
