/*https://discord.com/channels/1015060230222131221/1028106818368589824/1354502862390038528*/
@import url("https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css");

:root {
    /* Only include this part if you wish to change these variables */
    /* You can change the size but only to be less than 48px, you must change the blob scale too */
    --guildbar-avatar-size: 48px;
    --blob-scale: 48;

    --guildbar-folder-size: var(--guildbar-avatar-size);
    --folder-blob-scale: var(--blob-scale);
    --badges-background: var(--redesign-button-overlay-alpha-background); /*adds a semi transparent background behind badges*/

    --custom-guild-list-padding: 12px;
    --custom-guild-list-width: calc(max(var(--guildbar-avatar-size), var(--guildbar-folder-size)) + var(--custom-guild-list-padding) * 2);

    --user-area-padding: 4px
}



/* profile bar over servers fix*/
.visual-refresh {

    [class*="panels"][aria-label*="User status"]
    {       
       left: calc(var(--custom-guild-list-width) + var(--user-area-padding));
       width: calc(100% - (var(--custom-guild-list-width) + var(--user-area-padding) * 2));

       /*less space in between panel buttons*/
       [class*="-buttons"] 
        {
            gap: 1px;
        }
    }
    [aria-label="Servers sidebar"]
    {   
        margin-bottom: 0px;
    }
}


/*chat fixes*/
.visual-refresh {
    /*hide these buttons*/
    [class*="button"][aria-label="Send a gift"]
    {
        display: none;
    }
    [class*="button"][class*="app-launcher"]
    {
        display: none;  
    }
    /*message buttons enlarge*/
    [class*="button"] > [class*="buttonWrapper"]
    {
        transform: scale(1.25) !important;
    }
    [class*="button"] > [class*="spriteContainer"]
    {
        transform: scale(1.25) !important;
    }
    /*make the space between buttons smaller*/
    [class*="channelTextArea"] > [class*="scrollableContainer"] > [class*="inner"] > [class*="buttons"]
    {
        gap: 4px;
    }
}

/* top bar fix*/
.visual-refresh {

    /*remove help button*/
    [class*="anchor"]:has([class*="button"][aria-label="Help"])
    {
        display: none;
    }
}

/* https://discord.com/channels/1015060230222131221/1028106818368589824/1367926149497225287 */
#vc-spotify-player {
    --blur-amount: 4px; 
    --normal-bg-colour: var(--bg-overlay-floating, var(--background-base-low, var(--background-secondary-alt)));

    position: relative;
    background: linear-gradient(to bottom, transparent 0%, var(--normal-bg-colour) 100%) !important;
    overflow: hidden;
    transition: all 0.4s ease-out;
    > * {
      filter: drop-shadow(0 0 10px var(--normal-bg-colour));
    }
}
#vc-spotify-player:hover {
    --blur-amount: 0px;
}
#vc-spotify-player::before,
#vc-spotify-player::after {
    z-index: -1;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.4s ease-out;
}
#vc-spotify-player::before {
    background: var(--vc-spotify-track-image);
    background-position: center top; 
    background-size: cover; 
    opacity: 0.5;
}
#vc-spotify-player:hover::before {
    opacity: 0.7;
}
#vc-spotify-player::after {
    backdrop-filter: blur(var(--blur-amount));
}


/*https://discord.com/channels/1015060230222131221/1028106818368589824/1352215311369375845*/
/*loading animation*/
.content_a2f514 {
    display: flex;
    flex-direction: column;
> .a2f5142ba8328dfd-spinner { display: none }
    &:before {
        display: block;
        height: 128px;
        position: relative;
        content: url(https://cdn.discordapp.com/emojis/1373120209459740692.webp?size=96&animated=true);
        image-rendering: pixelated;
         align-content: center;
         scale: 3.125;
         margin-bottom: 96px;
    }
}

/*https://discord.com/channels/1015060230222131221/1028106818368589824/1420603427246833775*/
/* Sidebar cat */
.user-profile-sidebar::after {
    /* DIscord's color setup */
    --profile-gradient-start:  color-mix(in oklab, var(--profile-gradient-overlay-color) 100%, var(--profile-gradient-primary-color));
    --profile-gradient-end:  color-mix(in oklab, var(--profile-gradient-overlay-color) 100%, var(--profile-gradient-secondary-color));
	/* The creatures 2 */
    content:
    "      へ              ╱|、\a"
            "૮ >  < )   ♡    (˚ˎ 。7\a"
            " /        づ          |、 ˜〵\a"
            "乀(ˍ, ل ل              じしˍ, )ノ";

    white-space: pre;
    inset: 0;
    padding: 20px;
    color: white;
    /* Also discords */
    background: linear-gradient(var(--profile-gradient-start), var(--profile-gradient-start) var(--custom-user-profile-banner-height), var(--profile-gradient-end));
    text-align: center;
    font-size: 150%;
}
/* End sidebar cat */
